fish/*
!fish/config.fish

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

.wakatime-project

.config/medusa/
.config/yarn/
.config/qBittorrent/
.config/clash.meta/
.config/iterm2/
.config/configstore/
.config/clash/
.config/raycast/
.config/neovide/
.config/fontforge/
.config/helix/
.config/lazygit/
.config/nvim/

.config/zed/*
!.config/zed/keymap.json
!.config/zed/settings.json
!.config/zed/snippets/
!.config/zed/themes/

.config/pgcli/history
.config/pgcli/log
