fish/*
!fish/config.fish
.config/zed/
.config/yarn/
.config/qBittorrent
.config/clash.meta
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.config/medusa/
.config/iterm2/
.config/configstore/
.config/clash/
.config/raycast/
.config/neovide/
